.dropdown {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  display: block;
  background: red;
  width: 200px;
  align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top:42px;
  right:0px;
  width: 200px;
  background-color: white;
  font-weight:bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a {
  color: #000;
  text-decoration: none;
}

li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #e5e5e5;
  color: white;
}

.button{
  width:178px;
  height:18px;
  background-color: #ff3232;
  padding:12px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}

.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:18px;
}

.button{
  width:178px;
  height:18px;
  background-color:#ff3232 ;
  padding:12px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}

.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:18px;
}

.delete-button {
  color: rgba(255, 50, 50, 0);
  align: center;
}

.delete-button:hover {
  color: rgba(255, 50, 50, 1);
  cursor: pointer
}

.add-button {
  position: relative;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0%);
  color: #615c11;
}

.add-button:hover {
  color: #ad9625;
}


table {
  margin-top: 50%;
  border-collapse: collapse;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: rgb(128, 128, 128);
}

th {
  text-align: center;
  padding: 8px;
  border-left: solid;
  border-right: solid;
  border-color: rgb(255, 50, 50);
  border-width: thin;
}

td {
  text-align: left;
  padding: 8px;
  border-left: solid;
  border-right: solid;
  border-color: rgb(128, 128, 128);
  border-width: thin;
}

tr {background-color: rgba(128, 128, 128, 0.5)}
tr:nth-child(even){background-color: rgba(200, 200, 200, 0.5)}

td:last-child {
  background-color: rgba(255, 50, 50, 0);
}

th {
  background-color: #ff3232;
  color: white;
}
